---
import OdinSearch from "../odin-search/index.svelte";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Odin Search</title>
  </head>
  <body>
    <OdinSearch client:load />
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
    font-family: system-ui, Ubuntu, Cantarell, sans-serif;
    color: var(--text-color);
  }

  :root {
    --bg-color: oklch(0.21 0.034 264.665);
    --container-bg-color: oklch(0.17 0.03 270);
    --text-color: oklch(0.95 0.01 258.338);
    --muted-text-color: oklch(0.8 0.01 258.338);
    --search-bg-color: oklch(0.25 0.03 264.364 / 0.7);
    --search-border-color: oklch(0.4 0.05 264.364);
    --search-focus-border-color: oklch(0.6 0.1 264.364);
    --card-bg-color: oklch(0.27 0.03 264.364 / 0.7);
    --card-hover-bg-color: oklch(0.3 0.04 264.364);
    --card-active-bg-color: oklch(0.32 0.05 264.364);
    --card-focus-outline-color: oklch(0.6 0.1 264.364);
    --card-border-color: oklch(0.3 0.04 264.364);
    --title-color: oklch(0.95 0.01 258.338);
    --link-color: oklch(0.7 0.15 250);
    --link-hover-color: oklch(0.8 0.15 250);
    --highlight-color: oklch(0.7 0.15 250 / 0.2);
  }

  @media (prefers-color-scheme: light) {
    :root {
      --bg-color: oklch(0.95 0.015 264.665);
      --container-bg-color: oklch(0.98 0.01 270);
      --text-color: oklch(0.2 0.02 258.338);
      --muted-text-color: oklch(0.4 0.02 258.338);
      --search-bg-color: oklch(0.97 0.01 264.364);
      --search-border-color: oklch(0.7 0.03 264.364);
      --search-focus-border-color: oklch(0.5 0.15 264.364);
      --card-bg-color: oklch(0.97 0.01 264.364);
      --card-hover-bg-color: oklch(0.95 0.02 264.364);
      --card-active-bg-color: oklch(0.93 0.03 264.364);
      --card-focus-outline-color: oklch(0.5 0.15 264.364);
      --card-border-color: oklch(0.8 0.02 264.364);
      --title-color: oklch(0.2 0.02 258.338);
      --link-color: oklch(0.5 0.2 250);
      --link-hover-color: oklch(0.4 0.2 250);
    }
  }

  html,
  body {
    background-color: var(--bg-color);
    scrollbar-gutter: stable both-edges;
  }
</style>
